.rootPane {
    -fx-background-image: url("../images/sky.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.imageView {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2),15,0.5,0.0,0.0)
}