.rootPane {
    -fx-background-color: #5ab8e8;
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.stackPane {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2),15,0.5,0.0,0.0)
}